<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>내 정보</h2> </div>
    <h3 class="mb-3" th:text="|${member.nickname}님의 정보 입니다.|">로그인 사용자 정보</h3>
    <hr class="my-4">
    <div class="col">
        <h4 class="mb-4" th:text="|작성 게시글 수: 0|"></h4>
    </div>
    <div class="col">
        <h4 class="mb-4" th:text="|작성 댓글 수: 0|"></h4>
    </div>
    <div class="col">
        <h4 class="mb-4" th:text="|회원 아이디: ${member.userId}|"></h4>
    </div>
    <div class="col">
        <h4 class="mb-4" th:text="|회원 닉네임: ${member.nickname}|"></h4>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>
