<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h1> 운동 게시판 - 게시글 세부 정보</h1>
        <form role="form" method="post">
            <div class="form-group">
                <label>제목</label>
                <textarea type="text" class="form-control" th:disabled="true" th:text="${post.title}"></textarea>
            </div>
            <span class="form-group">
                <label>작성자</label>
                <p type="text" class="form-control" th:disabled="true" th:text="${post.author.nickname}"></p>
            </span>
            <span class="form-group">
                <label>수정일</label>
                <p type="text" class="form-control" th:disabled="true" th:text="${post.lastModifiedDate}"></p>
            </span>
            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" th:disabled="true" th:text="${post.content}">내용 입력</textarea>
            </div>
            <a type="submit" class="btn btn-secondary" th:if="${member.id} == ${post.author.id}" th:href="@{/boards/edit/{postId}(postId=${post.id})}">글 수정</a>
            <a type="submit" class="btn btn-secondary" th:if="${member.id} == ${post.author.id}" th:href="@{/boards/delete/{postId}(postId=${post.id})}">글 삭제</a>
        </form>
    </div>
    <hr>
    <div>
        <h2>댓글</h2>
        <form role="form" method="post" th:object="${commentForm}" th:action="@{/comments/new/} + ${post.id}">
            <textarea type="text" class="form-control" placeholder="댓글을 입력하세요" th:field="*{content}"></textarea>
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
        <hr>
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column" th:each="comment: ${comments}">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <span class="mb-1" th:if="${comment.author.id} == ${post.author.id}">글쓴이: </span>
                        <span class="mb-1 font-weight-bold" th:text="${comment.author.nickname}">댓글 작성자</span>
                    </div>
                    <small th:text="${comment.lastModifiedDate}">댓글 작성일</small>
                </div>
                <p class="mb-1" th:text="${comment.content}">댓글 내용</p>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>